<script>
jQuery(document).ready(function($) {
	$.facebox.settings.closeImage = '/images/facebox/closelabel.png'
	$.facebox.settings.loadingImage = '/images/facebox/loading.gif'
  	$('a[rel*=facebox]').facebox()
})
</script>

<table>
<tbody>
	<%="<tr> "%>
		<%="<td> "%>
		<%="</td> "%>
		<%="<td> "%>
			<% if  path !=~ /^$/    %>
				<%="<li><a href=\"..\">..</a></li>"%>
			<% end %>
		<%="</td> "%>
		<%="<td> "%>
		<%="</td> "%>
	<%="</tr> "%>
<% content.each do |item| %>
	<%="<tr> "%>
		<%="<td> "%>
			<% if item["class"] == AirVideo::Client::FolderObject %>
				<% item["path"] = request.chomp("/") unless item["path"].nil? %>
				<%="<a href=\"#{item["path"]}/#{item["idx"]}\"><img src=\"/images/bullet_cross.png\"></a> "%>
			<% end %>
		<%="</td> "%>
		<%="<td> "%>
			<%=" #{item["name"]} "%>
		<%="</td> "%>
		<%="<td> "%>
		<% if item["class"] == AirVideo::Client::VideoObject %>
			<%="<a class=\"divxwp\" rel=\"facebox\" href=\"/divxwebplayer.html?url=#{item["url"]}\"><img src=\"/images/bullet_play.png\"  ></a>"%>
		<% end %>
		<%="</td> "%>
	<%="</tr> "%>
<% end %>
</tbody>
</table>
