<script>
jQuery(document).ready(function($) {
	$.facebox.settings.closeImage = '/images/facebox/closelabel.png'
	$.facebox.settings.loadingImage = '/images/facebox/loading.gif'
  	$('a[rel*=facebox]').facebox()
})
</script>

<table border=0 >
<tbody>
	<%="<tr> "%>
		<%="<td> "%>
		<%="</td> "%>
		<%="<td> "%>
			<% if !path.empty?  %>
				<%="<center><a href=\"#{request}\/..\">..</a></center>"%>
			<% end %>
		<%="</td> "%>
		<%="<td> "%>
		<%="</td> "%>
		<%="<td> "%>
		<%="</td> "%>
	<%="</tr> "%>
<% content.each do |item| %>
	<%="<tr> "%>
		<%="<td> "%>
		<%="</td> "%>
		<%="<td> "%>
			<% if item["class"] == AirVideo::Client::FolderObject  %>
				<% item["path"] = request.chomp("/") unless item["path"].nil? %>
				<%="<a href=\"#{item["path"]}/#{item["idx"]}\"><img src=\"/images/bullet_cross.png\"></a> "%>
			<% end %>
		<%="</td> "%>
		<%="<td> "%>
			<%=" #{item["name"]} "%>
		<%="</td> "%>
		<%="<td> "%>
		<% if item["class"] == AirVideo::Client::VideoObject %>
			<%="<a class=\"divxwp\" rel=\"facebox\" href=\"/info.html?path=#{item["path"]}/#{item["idx"]}\"><img src=\"/images/info.png\"  ></a>"%>
		<%="</td> "%>
		<% end %>
	<%="</tr> "%>
<% end %>
</tbody>
</table>
