<table border=0 >
<tbody>
        <%="<tr> "%>
                <%="<td> "%>
			<%="<a class=\"divxwp\" rel=\"facebox\" href=\"/divxwebplayer.html?url=#{content}\"><img src=\"/images/bullet_play.png\"  ></a>"%>
                <%="</td> "%>
                <%="<td> "%>
			<%="<a class=\"divxwp\" rel=\"facebox\" href=\"http://192.168.128.16:8080/xbmcCmds/xbmcHttp?command=ExecBuiltIn%28PlayMedia%28#{content}%29%29\"><img src=\"/images/xbmc16.png\"  ></a>"%>
                <%="</td> "%>
                <%="<td> "%>
			<%=""+ clippy(content)+"" %>
                <%="</td> "%>
                <%="<td> "%>
                <%="</td> "%>
        <%="</tr> "%>
</tbody>
</table>
